<h3>Cart info</h3>
<table border="1">
  <tr>
    <th>Option</th>
    <th>Id</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub Total</th>
  </tr>
  <tr *ngFor="let item of items">
    <td align="center">
      <a (click)="remove(item.product)" >supprimer</a>
    </td>
    <td> {{ item.product.id }} </td>
    <td> {{ item.product.name }} </td>
    <td>
      <img [src]="item.product.photo" alt="image mario" width="50">
    </td>
    <td> {{ item.product.price }} </td>
    <td> {{ item.quantity }} </td>
    <td> {{ item.product.price * item.quantity }} </td>
  </tr>
  <tr>
    <td colspan="6" align="right">Total</td>
    <td> {{ total }} </td>
  </tr>
</table>

