<ul class="nav nav-pills">
  <li>
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>

