<h3>Product List</h3>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Photo</th>
    <th>Buy</th>
  </tr>
  <tr *ngFor="let product of products">
    <td> {{ product.id }} </td>
    <td> {{ product.name }} </td>
    <td> {{ product.price }} </td>
    <td>
      <img [src]="product.photo" alt="image mario" width="50">
    </td>
    <td>
      <a [routerLink]="['/cart', { id:product.id }]">Buy now</a>
    </td>
  </tr>
</table>
